.wrapper {
    width: 100%;
    min-height: 100vh;
    background-color: #9013FE;
    color: white;
    font-family: Roboto;
    padding-bottom: 8rem;
}

.header {
    padding: 2rem;
    font-size: 2rem;
    font-weight: 200;

    width: 100%;
    height: 9rem;

    display: flex;
    justify-content: space-between;
}

.header h1 {
    font-weight: inherit;
}

.correct {
    font-weight: bold;
}

.question {
    background: #BA68C8;
    padding: 2rem;
}

.question:nth-child(odd) {
    background: #8E24AA;
}

.question-title {
    font-size: 2rem;    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.question-current {
    background: green !important;
}

.answers {
    display: flex;
    flex-direction: row;

    list-style: none;

    margin-top: 2rem;
    font-size: 1.5rem;
}

.answer {
    margin-right: 2rem;
}

.answer-editor {
    display: inline-block;
    margin-left: 1rem;
}


.add-new-question {
    font-size: 2rem;
    color: white;
    background-color: #9013FE;
    height: 8rem;
    line-height: 8rem;

    text-align: center;

    cursor: pointer;

    position: fixed;
    bottom: 0;

    width: 100%;
}

.add-new-question:hover {
    color: #9013FE;
    background-color: white;
}

.cancel {
    align-self: flex-end;
}
